<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <h2>Forgot Password?
  </h2>
  <h3>Please enter your user name below</h3>
    <div class="form">
      <ion-item>
        <ion-input placeholder='User Details' types='text'></ion-input>
      </ion-item>
    
      <ion-button class="main-button button-container" expands='block' routerLink='/signup'>Submit</ion-button>
    </div>
    
  
    </ion-content>

  