<ion-header><ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home/myprofile"></ion-back-button>
  </ion-buttons>
    <ion-title>Edit Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <form>
  <ion-list>
  <ion-item>
  <ion-label position="stacked">Old Password:</ion-label>
  <ion-input autocomplete="off" type="text"></ion-input>
  </ion-item>
  
  <ion-item>
  <ion-label position="stacked">New Password:</ion-label>
  <ion-input autocomplete="off" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Confirm Password:</ion-label>
    <ion-input autocomplete="off" type="password"></ion-input>
    </ion-item>
  
 
  </ion-list>
  <ion-button expand="block" share="round" color="primary">Change Now</ion-button>
  
  </form>
  </ion-content>