<ion-header>
  <ion-toolbar>
    <ion-menu-button contentId="main" slot="start"><ion-icon src="../../../assets/icon/menucircle.svg"></ion-icon></ion-menu-button>      
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title ion-padding font-bold">
    <h1>My Search History</h1>
    <!-- <ion-button expand="block" color="tertiary">Make a request</ion-button> -->
  </div>
  <ion-grid>
    <ion-row class="header-row" scrollable>
      <ion-col>
        Search Area
      </ion-col>
      <ion-col>
        Search Keywords
      </ion-col>
      <ion-col>
        Author
      </ion-col>
      <ion-col class="ion-hide-lg-down">
        Search Date
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>EKCMS Catalogue</h4>
      </ion-col>
      <ion-col>
        <h4>islam</h4>
      </ion-col>
      <ion-col>
        <h4>30/12/2020</h4>
      </ion-col>
    </ion-row>
 
    
    <ion-row>
      <ion-col>
        <h4>EKCMS Catalogue</h4>
      </ion-col>
      <ion-col>
        <h4>saham</h4>
      </ion-col>
      <ion-col>
        <h4>30/12/2020</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h4>EKCMS Catalogue</h4>
      </ion-col>
      <ion-col>
        <h4>news</h4>
      </ion-col>
      <ion-col>
        <h4>28/12/2020</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
