<ion-header>
  <ion-toolbar>
    <ion-menu-button contentId="main" slot="start"><ion-icon src="../../../assets/icon/menucircle.svg"></ion-icon></ion-menu-button>      
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title ion-padding font-bold">
    <h1>My Search History</h1>
    <!-- <ion-button expand="block" color="tertiary">Make a request</ion-button> -->
  </div>
  <app-searchist-card></app-searchist-card>
  <ion-card-content *ngIf="badRequest">
    <ion-item lines="none">
      <ion-label>No data available.</ion-label>
    </ion-item>
  </ion-card-content>
</ion-content>
