<ion-header>
  <ion-toolbar>
    <ion-menu-button contentId="main" slot="start"><ion-icon src="../../../assets/icon/menucircle.svg"></ion-icon></ion-menu-button>      
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let profile of profileUser; first as isFirst">
  <h1 class="title">Profile Details</h1>
  <img src={{profile.patronImage}} />
  <ion-toolbar color="translucent">
    <!-- <ion-button expand="block" class="main-button" (click)="editprofile()">Edit Profile Picture</ion-button> -->
    <ion-button expand="block" class="main-button" (click)="changePwd()">Edit Password</ion-button>

  </ion-toolbar>
  <div class="profile-info">
    <app-profile-card></app-profile-card> 
  </div>
</ion-content>
