<ion-grid>
  <ion-row>
    <ion-col>
      Search Area
    </ion-col>
    <ion-col>
      Search Keywords
    </ion-col>
    <ion-col>
      Search Date
    </ion-col>
  </ion-row>

  <ion-row class="header-row" text-wrap *ngFor="let sh of searchhistData" scrollable>
    <ion-col text-wrap>
      <h4>{{sh.searchType}}</h4>
    </ion-col>
    <ion-col text-wrap>
      <h4>{{sh.keywords}}</h4>
    </ion-col>
    <ion-col text-wrap>
      <h4>{{sh.createdDates}}</h4>
    </ion-col>
  </ion-row>

</ion-grid>

