<ion-card *ngFor="let profile of profileData; let i = index">
  <ion-card-content [innerHTML]="profile.firstName"></ion-card-content>
  <ion-card-content [innerHTML]="profile.email"></ion-card-content>
  <ion-card-content [innerHTML]="profile.address"></ion-card-content>
</ion-card>
<div *ngFor="let profile of profileData; let i = index" style="padding-bottom: 5px;">
  <ion-item>
      <ion-label>Member ID: </ion-label>
      <ion-label> {{profile.accessionNo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Contact No: </ion-label>
      <ion-label> {{profile.primaryPhoneNo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Membership: </ion-label>
      <ion-label text-wrap>{{profile.memberStartdate}} - {{profile.memberEnddate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Final Borrow Date: </ion-label>
      <ion-label> {{profile.memberFinaldate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Number of renews per item: </ion-label>
      <ion-label color="primary"> {{profile.renewLimit}} Each</ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Number of items on loan: </ion-label>
      <ion-label color="primary"> {{profile.loanCount}} / {{profile.loanLimit}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>Number of items on reserve: </ion-label>
      <ion-label color="primary">{{profile.reserveCount}} / {{profile.reserveLimit}}</ion-label>
    </ion-item>

  </div>