.title {

    font-size: xx-large;
    h1 {
        margin: 0 0 0 16px;
        color: #434343;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    // ion-button {
    //     margin: 0 16px 0 0;
    //     color: #656565;
    //     width: 50%;
    // }
}