<ion-slides pager="true" [options]>
  <ion-slide>
    <!-- <app-logo></app-logo> -->
    <h2>Welcome to EKCMS Mobile App</h2>
    <img src="../../.././assets/images/welcome.png"/>
  </ion-slide>
  <ion-slide>
    <h2>The New Home for Your Reading List</h2>
    <img src="../../.././assets/images/reading.png"/>
    <h5>Track book you've read, books you've loved, and books that you think you could love!</h5>
  </ion-slide>
  <ion-slide>
    <h2>Access everything organize here!</h2>
    <img src="../../.././assets/images/access.png"/>
    <h5>In the application you can reserve a book and get it in our library</h5>
  </ion-slide>
</ion-slides>