
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <h1>New Registration Request</h1>
  <h5>Please enter your details below</h5>
    <div class="form">
      <ion-item>
        <ion-input placeholder='Name'></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder='Email' types='email'></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder='Purpose' types='text'></ion-input>
      </ion-item>
    
      <ion-button class="main-button button-container" expands='block' routerLink='/signup'>Submit</ion-button>
    </div>
    
  
    </ion-content>
  
