<ion-header>
  <ion-toolbar>
    <ion-title>seaxxxxrch</ion-title>
    <ion-button slot="start">
      <ion-menu-button menu="main-menu" contentId="main"></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="ion-text-center logo">  
  <app-logo></app-logo>
</div>

<h5 class="ion-text-center">Web OPAC Search</h5>
  <form id="form">
    <!-- <app-search-input></app-search-input> -->
    <ion-item>
      <ion-input placeholder='Enter search keywords' types='text'></ion-input>
    </ion-item>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <div>
            <ion-button expand="block"><ion-icon name="search-outline"></ion-icon></ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-button expand="block" click="openModal()">Search by Area</ion-button>
          </div>
        </ion-col>
       </ion-row>
       <ion-row>
        <ion-col>
          <div>
            <ion-button expand="block">Advance</ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-button expand="block">RBR</ion-button>
          </div>
        </ion-col>
       </ion-row>
    </ion-grid>
  </form>
</ion-content>
