
<ion-content>  
  <ion-card>  
    <img class="logo" src="assets/images/ekcms-logo.png" alt="EKCMS Logo">
    <ion-card-header>  
      <ion-card-title>Version History</ion-card-title>  
      <ion-card-subtitle>Version 1.0</ion-card-subtitle>  
      </ion-card-header>  
    <ion-card-content>  
      Update of Beta Version.
      <ion-list>  
        <ion-item>Fix Bugs</ion-item>        
        <ion-item>Users can reserve and cancel materials</ion-item>          
        <ion-item>Able to renew users loan by accessing “My Loan/Renew”</ion-item>         
        <ion-item>ADVANCED SEARCH where user can narrow down their searching into specific search option</ion-item>                 
      </ion-list>  
  Send any feedback, suggestions and comments to 
  <a [href]="'mailto:' + 'ekcmsapp@electric-lib.com' + '?Subject=EKCMS%20App%20Issues/Report/Feedback/Suggestions'">ekcms-app@electric-lib.com</a>
    </ion-card-content>  
  </ion-card>  
</ion-content>  