

<ion-content class="ion-padding ion-text-center">
  <!-- <ion-toolbar>
    <ion-menu-button contentId="main" slot="start"><ion-icon src="../../../assets/icon/menucircle.svg"></ion-icon></ion-menu-button>      
</ion-toolbar> -->
  <div class="logo">  
  <app-logo></app-logo>
</div>
  <!-- <div class="form">
    <ion-item>
      <ion-input placeholder='Enter Email'></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder='Password' types='password'></ion-input>
    </ion-item>
    <ion-button colors='dark' expands='block' (click)="login()">Login</ion-button>
  </div> -->
  <div class="form-container">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input autocomplete="off" type="text" name="username"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input autocomplete="off" type="password" name="password"></ion-input>
      </ion-item>
     
    </ion-list>
    <div class="button-container">
      <ion-button expand="block" (click)="loginAction()" class="main-button">Login<span>&#10230;</span></ion-button>
    </div>
  </div>
  <ion-tabs>

    <ion-tab-bar slot="bottom" class="ion-text-color">

      <ion-tab-button tab="search" routerLink='/forgot'>
        <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-label>FORGOT USERNAME</ion-label>
        </ion-tab-button>
      
      <ion-tab-button tab="mywishlist" routerLink='/signup'>
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>NEW REGISTRATION</ion-label>
      </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
</ion-content>


 


 