.logo{
    margin-top: 20%;
}

.button-container {
    width: 80%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    margin-top: 0px;
    font-size: 3em;
}


