*{
    --ion-background-color:linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
}
ion-content{
    padding: 70px 20px;
    display: grid;
}

span {
    content: "\27F6";
  }

.button-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

