<ion-content class="ion-padding">
  <div class="confirmation">
    <div class="ion-text-center">

      <div class="outer-circle">
        <div class="inner-circle">
          <img src="../../../assets/images/reserved.png" />
        </div>
      </div>

      <h2>Oh no!</h2>
      <p>
        You are leaving... <br>
        Are you sure?
      </p>
    </div>
  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/home/search" routerDirection="back">Nope. Bring me back to Home</ion-button>
    <ion-button expand="block" class="main-button" (click)="logoutAction()">Yes. Log me out</ion-button>
  </ion-toolbar>
</ion-footer>
