<div class="order-items">
  <ion-card mode="ios">
    <ion-card-content>
      <div class="address">
        <ion-item lines="none">
          Libur	
        </ion-item>
      </div>
    
      <hr>
      
<div class="cart-total">
        <ion-item lines="none">
          <ion-label>Author</ion-label>
          <ion-label slot="end" class="ion-text-right">Kumpulan Karangkraf</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Edition</ion-label>
          <ion-label slot="end" class="ion-text-right"></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Publisher</ion-label>
          <ion-label slot="end" class="ion-text-right">Ultimate Pages Sdn. Bhd.</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Created Date</ion-label>
          <ion-label slot="end" class="ion-text-right">	23/12/2020</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>ISBN/ISSN</ion-label>
          <ion-label slot="end" class="ion-text-right">	998899</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Quantity</ion-label>
          <ion-label slot="end" class="ion-text-right">1</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Comment</ion-label>
          <ion-label slot="end" class="ion-text-right"></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Status</ion-label>
          <ion-label slot="end" class="ion-text-right">Direct Purchase Order</ion-label>
        </ion-item>
      </div>

        <ion-button expand="block" color="warning">Remove</ion-button>
        <ion-button expand="block" color="secondary">Edit</ion-button>
      
    </ion-card-content>
  </ion-card>
  
</div>