
<ion-tabs>

  <!-- <ion-tab-bar slot="bottom" color="dark">
  <ion-tab-button tab="search">
  <ion-icon name="paper"></ion-icon>
  <ion-label>Feed</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="mywishlist">
  <ion-icon name="send"></ion-icon>
  <ion-label>Messages</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="notifications">
  <ion-icon name="notifications"></ion-icon>
  <ion-label>Contact</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="setting">
  <ion-icon name="cog"></ion-icon>
  <ion-label>Settings</ion-label>
  </ion-tab-button>
  
  </ion-tab-bar> -->
  </ion-tabs>

  

  <ion-menu side="start" menuId="main-menu" contentId="main">
    <ion-content>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="../../assets/images/potrait.jpg" alt="" (click)="myprofile()">
        <ion-label>
          <h2>Patron</h2>
        </ion-label>
      </div>
      
  <ion-list class="menu-items" lines="none">
    <ion-item (click)="serachField()">
      <ion-icon name="search-circle" ></ion-icon>Search
    </ion-item>
    <ion-item (click)="mywishlist()">
      <ion-icon name="list-circle"></ion-icon>My Wishlist
    </ion-item>
    <ion-item (click)="myloan()">
      <ion-icon name="wallet-outline"></ion-icon>My Loan/Renew
    </ion-item>
    <ion-item (click)="myloanhist()">
      <ion-icon name="file-tray-full"></ion-icon>My Loan History
    </ion-item>
    <ion-item (click)="myrsv()">
      <ion-icon name="book"></ion-icon>My Reservation
    </ion-item>
    <ion-item (click)="myoverdues()">
      <ion-icon name="today"></ion-icon>My Overdues
    </ion-item>
    <ion-item (click)="mysearchhist()">
      <ion-icon name="library"></ion-icon>My Search History
    </ion-item>
    <ion-item (click)="logoutAction()">
      <ion-icon name="log-out"></ion-icon>Logout
    </ion-item>
  </ion-list>
  <ion-router-outlet id="main"></ion-router-outlet>
  </ion-content>
        <img src="../../assets/images/ekcms.png" class="logo-menu" width="80px" style="display:inline-block" height="40px" />
  </ion-menu> 
