<ion-content>
  <ion-toolbar>
      <ion-menu-button contentId="main" slot="start"><ion-icon src="../../../assets/icon/menucircle.svg"></ion-icon></ion-menu-button>      
  </ion-toolbar>
<div class="ion-text-center web-opac">  
  <img src="../../../assets/images/upsi-logo.png"/>
  <h5 class="ion-text-center" color="ekcms">ADVANCE SEARCH</h5>
</div>
<div id="formContainer">
  <form class="theForm">

    <ion-item>
      <ion-label position="floating">Filter By</ion-label>
        <ion-select  [(ngModel)]="type1" (ionChange)="searchChanged($event)">
          <ion-select-option value="Title">Title</ion-select-option>
          <ion-select-option value="Author">Author</ion-select-option>
          <ion-select-option value="ISBN">ISBN</ion-select-option>
          <ion-select-option value="ISSN">ISSN</ion-select-option>
          <ion-select-option value="Subject">Subject</ion-select-option>
          <ion-select-option value="CallNumber">Call Number</ion-select-option>
          <ion-select-option value="Series">Series</ion-select-option>
          <ion-select-option value="Summary">Summary</ion-select-option>
          <ion-select-option value="Language">Language</ion-select-option>
          <ion-select-option value="DissertationNote">Dissertation Note</ion-select-option>

        </ion-select>
    </ion-item>

    <ion-searchbar showCancelButton="focus" cancelButtonText="Cancel" [(ngModel)]="searchField1"></ion-searchbar>


    <ion-grid>
      <ion-row *ngFor="let row of rows">

        <ion-col>
          <ion-item class="operator-box">
            <ion-label position="floating">Operator</ion-label>
              <ion-select  [(ngModel)]="operators1" (ionChange)="searchChanged($event)">
                <ion-select-option value="AND">AND</ion-select-option>
                <ion-select-option value="OR">OR</ion-select-option>
                <ion-select-option value="NOT">NOT</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating">Filter By</ion-label>
            <ion-select  [(ngModel)]="type2" (ionChange)="searchChanged($event)">
              <ion-select-option value="Title">Title</ion-select-option>
                <ion-select-option value="Author">Author</ion-select-option>
                <ion-select-option value="ISBN">ISBN</ion-select-option>
                <ion-select-option value="ISSN">ISSN</ion-select-option>
                <ion-select-option value="Subject">Subject</ion-select-option>
                <ion-select-option value="CallNumber">Call Number</ion-select-option>
                <ion-select-option value="Series">Series</ion-select-option>
              </ion-select>
          </ion-item>
        </ion-col>
        <ion-searchbar showCancelButton="focus" cancelButtonText="Cancel" [(ngModel)]="searchField2" (ionChange)="searchChanged($event)"></ion-searchbar>
      </ion-row>
    </ion-grid>

    <ion-grid class="ion-text-center" >
      <ion-row>
        <ion-col>
            <ion-button expand="block" class="search-button" ion-button [disabled]="rows?.length === maxQuantity" (click)="addrow()">Add a row</ion-button>          
        </ion-col>
        <ion-col>
          <div>
            <ion-button expand="block" class="remove-button" (click)="removerow()">Remove</ion-button>
          </div>
        </ion-col>
       </ion-row>
       <ion-row>
        <ion-col>
          <div>
            <ion-button expand="block" class="clear-button" (click)="clearrow()">Clear a form</ion-button>
          </div>
        </ion-col>
       </ion-row>
    </ion-grid>
  </form>
  </div>

  <ion-list>
 
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['./', 'opac-result', item.citedworkId]">
      <ion-thumbnail slot="start">
        <img *ngIf="item.imagepath else null" src={{item.imagepath}} />                
        <!-- <img src="../../../assets/images/book5.jpg"> -->
      </ion-thumbnail>
 
      <ion-label text-wrap>
        {{ item.title }}
        <h3>{{ item.author }}</h3>
      </ion-label>

 
    </ion-item>
 
  </ion-list>
 

</ion-content>
