.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;

    h2 {
        margin: 0 0 0 16px;
        color: #434343;
    }

    p {
        margin: 0 16px 0 0;
        color: #656565;
    }
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.col{
    border: 1px solid black;
 }

 ion-row.res {
    border-bottom: 1px solid #434343;

    ion-col{
        margin: 4px;
        padding: 8px;
        color: #6A6262;
        font-size: small;
        
    }
}

ion-content{

    --ion-background-color:#F2F2F2;
}

.header-row{
    font-weight: 500;
    border-bottom: 2px solid #000;
}

