<ion-item class="ion-margin-bottom">
  <!-- <ion-input [type]="type" [placeholder]="placeholder"></ion-input> -->
<h2>Web OPAC Search</h2>
  <ion-select ok-text="Okay" cancel-text="Nah">
      <ion-select-option value="title">Title</ion-select-option>
      <ion-select-option value="author">Author</ion-select-option>
      <ion-select-option value="ISBN">ISBN</ion-select-option>
      <ion-select-option value="ISSN">ISSN</ion-select-option>
      <ion-select-option value="subject">Subject</ion-select-option>
      <ion-select-option value="sall Number">Call Number</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
    </ion-select>

</ion-item>